p {color: white;}
body {background-color: #11615d;}
h1 {color:aqua;}
h1{text-align: center;}
h2 {color:aqua;}
h2 {text-align: center;}
h3 {color:aqua;}
h3 {text-align: center;}
h4 {color:aqua;}
h5 {color:aqua;}
h6 {color:aqua;}
<img src="image.png" width="200" height="200" class="rotation90">